	@import url(https://fonts.googleapis.com/css?family=Pacifico);
	@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
	@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* -- 共通 ---------------------------------------------*/

	body{
		font-size: 14px;
		font-family: 'Noto Sans JP';
		overflow-x:hidden;
		text-align: center;
		height: 100%;
	}

	section{
		clear: both;
	}

	h1{
		font-family: 'Pacifico',serif;
	}

	section h2{
		padding: 20px 0px;
	}

/* -- メニュー -------------------------------------------*/

	#nav{
		z-index:500;
		position: fixed;
		right: 0px;
	}

	#nav ul li{
		list-style: none;
		display: inline-block;
		padding: 0px 5px;
	}

	a{
		text-decoration: none;
		color:#000;
		padding-right: 10px;	
	}

	a:hover{
		text-decoration: underline;
	}

/* -- TOP  --------------------------------------------*/

	#header{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;
	}

	#top{
		position: relative;
	}

	#top .title{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		padding: 0;
		transform: translate(-50%,-50%);
	}

	#top img{
	    width:100%;
	    padding-bottom: 20px;
	}


/* -- sec01 -------------------------------------------*/

	#sec01 h3{
		margin-bottom: -2px;
	}

	.profile p{
		display: inline-block;
		text-align: left;
		padding-bottom: 50px;
	}

	#sec01 img{
		height: 250px;
	}
		
/* -- sec02 -------------------------------------------*/
	.wrap{
		clear: both;
		width: 100%;
	}

	.box, .photo{
		width: 50%;
		float: left;
		display: table;
	}

	#sec02-2 .box , #sec02-2 .photo{
		float: right;
	}

	.photo {
		line-height: 0;
	}

	#sec02 img, #sec02-2 img{
		width: 100%;
		height: auto;	
	}

	.box {
		display: table-cell;
		vertical-align: middle;
	}

	.box h2{
		padding-top: 30px;
	}

	.text p{
		text-align: left;
		padding: 30px 0px 20px 50px;
	}

/* -- sec03 --------------------------------------------*/

	#sec03{
		padding:80px 0;
	}

	.movetext{
		display: inline-block;
		text-align: left;
		opacity:0;
	}

	.movetext span{
		opacity:0;
	}

	#sec03 h3{
		display: none;
	}

	.curiosity{
		font-style: oblique;
		font-size:20px;
	}

	.curiosity-text p{
		display: inline-block;
		padding-bottom: 100px;
	}

	#footer{
		padding-bottom: 200px;
	}

/* -- sec04 -------------------------------------------*/

	#sec04{
		width: 100%;
	}

	.vision{
		position: relative;
		top:100%;
	}

	.vision img{
		width: 100%;
		height: auto;
	}

	.vision-txt{
		position: absolute;
		color: #fff;
		top: 50%;
		left: 50%;
		margin: 0;
		padding: 0;
		transform: translate(-50%,-50%);

	}

/* -- レスポンシブ対応 ------------------------------------------*/

@media only screen and (max-width: 1200px){

	.text{
		padding: 50px 50px;
	}
}

@media only screen and (max-width: 1024px){

/* -- sec02 ---------------*/

	.text p{
		padding: 0 30px;
	}

@media only screen and (max-width: 896px){

/* -- sec02 ---------------*/

	.box h2{
		padding-top: 0px;
	}

	.text p{
		padding: 0px 0px;
	}

}