	@import url(https://fonts.googleapis.com/css?family=Pacifico);
	@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
	@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
	@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/* -- 共通 ---------------------------------------------*/

	html{
		height: 100%;
        width: 100%;
	}

	body{
		font-size: 0.9em;
		font-family: 'Noto Sans JP';
		overflow-x:hidden;
		text-align: center;
	}

	section{
		clear: both;
	}

	h1{
		font-family: 'Pacifico',serif;
	}

/* -- メニュー -------------------------------------------*/

	a{
		text-decoration: none;
		color:#000;
		padding-right: 10px;	
	}

	a:hover{
		text-decoration: underline;
	}

/* -- TOP sec01  ---------------------------------------*/

	#sec01{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;
	}

/*
	.title{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		padding: 0;
		transform: translate(-50%,-50%);
		font-size: 1.9vw;
	}
*/

	svg.intro {
/*	  	background: linear-gradient(135deg, #aa3bb1, #582a7e);*/
	  	max-width: 800px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
	    	transform: translate(-50%, -50%);
/*		box-shadow: 0 30px 50px -20px #2e0642;*/
	}

	svg.intro .text {
	  display: none;
	}

	svg.intro.go .text {
	  font-family: Arial, sans-serif;
	  font-size: 15px;
	  /*text-shadow: 10px 10px 50px #fff;*/
	  text-transform: uppercase;
	  display: block;
	}

	svg.intro.go .text-stroke {
	  fill: none;
	  stroke: #6179cf;
	  stroke-width: 2.8px;
	  stroke-dashoffset: -900;
	  stroke-dasharray: 900;
	  stroke-linecap: butt;
	  stroke-linejoin: round;
	  -webkit-animation: dash 2.5s ease-in-out forwards;
	          animation: dash 2.5s ease-in-out forwards;
	}

	svg.intro.go .text-stroke:nth-child(2) {
	  -webkit-animation-delay: .3s;
	          animation-delay: .3s;
	}

	svg.intro.go .text-stroke:nth-child(3) {
	  -webkit-animation-delay: .9s;
	          animation-delay: .9s;
	}

	svg.intro.go .text-stroke-2 {
	  stroke: #19244d;
	  -webkit-animation-delay: 1.2s;
	          animation-delay: 1.2s;
	}

	svg.intro.go .text-stroke:nth-child(5) {
	  -webkit-animation-delay: 1.5s;
	          animation-delay: 1.5s;
	}

	svg.intro.go .text-stroke:nth-child(6) {
	  -webkit-animation-delay: 1.8s;
	          animation-delay: 1.8s;
	}

	@-webkit-keyframes dash {
	  100% {
	    stroke-dashoffset: 0;
	  }
	}

	@keyframes dash {
	  100% {
	    stroke-dashoffset: 0;
	  }
	}

	.reload {
	  position: absolute;
	  bottom: 15px;
	  right: 15px;
	  background: #fff;
	  border: none;
	  border-radius: 20px;
	  outline: none !important;
	  line-height: 1.5;
	  text-transform: uppercase;
	  z-index: 10;
 	  padding: 6px 8px;
	  font-size: 3px;
	  cursor: pointer;
/*	  box-shadow: 0 6px 7px #350e4c;*/
	  -webkit-transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
	  transition: all 0.1s cubic-bezier(0.67, 0.13, 0.1, 0.81);
	}

/*	.reload:hover {
	  box-shadow: 0 4px 4px #6179cf;
	  -webkit-transform: translateY(1px);
	          transform: translateY(1px);
	}*/
	.reload:active {
	  box-shadow: 0 1px 2px #244B94;
	  -webkit-transform: translateY(2px);
	          transform: translateY(2px);
	}
	.reload svg {
	  vertical-align: middle;
	  position: relative;
	  top: -2px;
	}

/* -- sec02 -------------------------------------------*/

	#sec02 h2{
		margin-top:35px;
	}

	#sec02 h3{
		margin-top:5px;
		margin-bottom: -2px;
	}

	.profile p{
		display: inline-block;
		text-align: left;
		padding-bottom: 50px;
	}

	#sec02 img{
		height: 250px;
		padding: 15px 0px;
	}
		
/* -- sec03 -------------------------------------------*/

	.wrap{
		width: 100%;
	}

	.photo {
		line-height: 0;
	}

	#sec03 img, #sec03-02 img{
		width: 100%;	
	}

/* -- sec04 --------------------------------------------*/

	#sec04{
		padding:80px 0;
	}

	#sec04 h3{
		display: none;
	}

	.curiosity{
		font-style: oblique;
		font-size:20px;
		padding: 20px 0px;
	}

	.curiosity-text p{
		display: inline-block;
		padding-bottom: 100px;
	}

	#footer{
		padding-bottom: 200px;
	}

/* -- sec05 -------------------------------------------*/

	#sec05{
		width: 100%;
	}

	.vision{
		position: relative;
		top:100%;
	}

	.vision img{
		width: 100%;
		height: auto;
	}

	.vision-txt{
		position: absolute;
		color: #fff;
		top: 50%;
		left: 50%;
		margin: 0;
		padding: 0;
		transform: translate(-50%,-50%);
	}

/* -- レスポンシブ対応 ------------------------------------------*/

@media screen and (min-width: 800px){

	#nav{
		z-index:500;
		position: fixed;
		right: 0px;
	}

	#nav ul li{
		list-style: none;
		display: inline-block;
		padding: 0px 5px;
	}

	/* sec01 */

	.bg-slider {
		width: 100vw;
		height: 80vh;
		background-position:center center;
		background-size: cover;
		display: flex;
		align-items: center;
	}

	.title-box{
		width: 50vw;
		height: 300px;
		line-height: 300px;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(255, 255, 255, 0.5);
		text-align: center;
	}

	/* sec03 */

	.photo, .box{
		width: 50%;
		display: table;
		float: left;
		}

	#sec03-2 .box, #sec03-2 .photo{
		float: right;
	}

	.text{
		display: table-cell;
		vertical-align: middle;
		padding: 0 50px;
	}

	.p1{
		text-align: left;
	}

	/* sec05 */
}

@media screen and (max-width: 799px){

	body{
		font-size: 0.8em;
	}

	#nav{
		z-index:500;
		position: fixed;
		right: 0px;
		text-align: right;
	}

	#nav ul li{
		list-style: none;
		display: inline-block;
		padding: 0px 5px;
	}

/* -- sec01 ---------------*/

	.bg-slider {
		width: 100vw;
		height: 100vh;
		background-position:center center;
		background-size: cover;
		display: flex;
		align-items: center;
	}

	.title-box{
		width: 50vw;
		height: 120px;
		line-height: 300px;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(255, 255, 255, 0.5);
		text-align: center;
	}

	.title{
		font-size: 2.3vw;
	}

	.reload {
		font-size: 3px;
	}

/* -- sec02 ---------------*/

	.text p{
		padding: 0 30px;
	}

	#sec02 img{
		width: 34vw;
		height: auto;
		padding: 15px 0px;
	}


/* -- sec03 ---------------*/

	.box h2{
		padding-top: 0px;
	}

	.text p{
		padding: 0px 0px;
	}

	#sec03 img{
		width: 100%;
	}

	.box{
		display: inline-block;
		text-align: center;
	}

	.p1 , #sec03-2 .p{
		text-align: left;
	}


/* -- sec04 ---------------*/
	
	.curiosity-text{
		padding: 0 20px;
	}

/* -- sec05 ---------------*/

	.vision-txt{
		color:#000;
		min-width: 80vw;
	}

@media screen and (max-width: 500px){

/* -- sec01 ---------------*/

	.bg-slider {
		width: 95vw;
		height: 40vh;
	}

}